--extra-index-url https://test.pypi.org/simple
Flask~=2.2
flask-restful~=0.3.9
flask-cors~=4.0
python-dotenv~=1.0
pigpio~=1.78
gpiozero~=1.6
psutil~=5.9
raspi_home_texx~=0.2.1
paho-mqtt~=1.6.1
gunicorn~=21.2.0
python-telegram-bot~=13.7
emoji~=1.6.3

